.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    margin-top: 60px;
}

.feature {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-left: 11%;
    padding-right: 11%;
}

.featureMainImage {
    border-radius: 50%;
    margin-bottom: 20px;
}

.featureInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}


.feature:nth-child(1) .featureImageContainer::after {
    width: 735px;
    height: 138px;
    position: absolute; 
    top: 155px;
    content: "";
    background-image: url(/patterns/left-downward-arrow.svg);
    background-repeat: no-repeat;
}

.feature:nth-child(2) .featureImageContainer::after {
    width: 735px;
    height: 138px;
    position: absolute; 
    top: 0px;
    left: -150px;
    content: "";
    background-image: url(/patterns/right-arrow.svg);
    background-repeat: no-repeat;
}

.reverse::after {
    width: 735px;
    height: 155px;
    position: absolute; 
    top: 125px;
    content: "";
    background-image: url(/patterns/left-upward-arrow.svg);
    background-repeat: no-repeat;
}

.feature:nth-child(3) .featureImageContainer::after {
    width: 735px;
    height: 138px;
    position: absolute; 
    top: 0px;
    left: calc(100% - 735px + 500px);
    content: "";
    background-image: url(/patterns/left-downward-arrow.svg);
    background-repeat: no-repeat;
}

.featureAnchorText {
    text-decoration: none;
}

@media(min-width:768px) {
    .featureInfoWrapper {
        gap: 40px;
        max-width: 573px;
    }

    .feature:nth-child(odd) {
        background-image:url(/patterns/half-circle-right.png);
        background-repeat: no-repeat;
        background-position: right top;
    }

    .feature:nth-child(even) {
        background-image:url(/patterns/half-circle-left.png);
        background-repeat: no-repeat;
        background-position: left top;
    }
    .feature:nth-child(1) .featureImageContainer::after {
        top: 295px;
        left: calc(100% - 735px );
    }
    
    
    .feature:nth-child(2) .featureImageContainer::after {
        width: 735px;
        top: 0px;
        right: calc(735px - 100%);
    }
    
    .reverse::after { 
        top: 250px;
        left: calc(100% - 735px);
    }
    
    .feature:nth-child(3) .featureImageContainer::after {
        top: 85px;
        left: calc(100% - 735px + 360px);
    }
}

@media(min-width:1200px) {
   .featureMainImage {
    margin: 0;
    gap: 160px;
   }
    .feature {
        width: 100vw;
        height: 445px;
        flex-direction: row;
        padding: 11%;
        gap: 0px;
        justify-content: space-between;
    }

    .feature:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .featureInfoWrapper {
        width: 445px;
    }

    .feature:nth-child(1) .featureImageContainer::after {
        top: 300px;
    }
}


