.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
    margin-top: 3.75rem;
}

.feature {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-left: 11%;
    padding-right: 11%;
}

.featureMainImage {
    border-radius: 50%;
    margin-bottom: 1.25rem;
}

.featureInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.feature:nth-child(1) .featureImageContainer::after {
    width: 45.9375rem;
    height: 8.625rem;
    position: absolute; 
    top: 9.6875rem;
    content: "";
    background-image: url(/patterns/left-downward-arrow.svg);
    background-repeat: no-repeat;
}

.feature:nth-child(2) .featureImageContainer::after {
    width: 45.9375rem;
    height: 8.625rem;
    position: absolute; 
    top: 0rem;
    left: -9.375rem;
    content: "";
    background-image: url(/patterns/right-arrow.svg);
    background-repeat: no-repeat;
}

.reverse::after {
    width: 45.9375rem;
    height: 9.6875rem;
    position: absolute; 
    top: 7.8125rem;
    content: "";
    background-image: url(/patterns/left-upward-arrow.svg);
    background-repeat: no-repeat;
}

.feature:nth-child(3) .featureImageContainer::after {
    width: 45.9375rem;
    height: 8.625rem;
    position: absolute; 
    top: 0rem;
    left: calc(100% - 45.9375rem + 31.25rem);
    content: "";
    background-image: url(/patterns/left-downward-arrow.svg);
    background-repeat: no-repeat;
}

.featureAnchorText {
    text-decoration: none;
}

@media(min-width:48rem) {
    .feature {
        width: 100vw;
    }
    .featureInfoWrapper {
        gap: 2.5rem;
        max-width: 35.8125rem;
    }

    .feature:nth-child(odd) {
        background-image:url(/patterns/half-circle-right.png);
        background-repeat: no-repeat;
        background-position: right top;
    }

    .feature:nth-child(even) {
        background-image:url(/patterns/half-circle-left.png);
        background-repeat: no-repeat;
        background-position: left top;
    }
    .feature:nth-child(1) .featureImageContainer::after {
        top: 18.4375rem;
        left: calc(100% - 46.5625rem );
    }
    
    
    .feature:nth-child(2) .featureImageContainer::after {
        width: 45.9375rem;
        top: 0rem;
        left: -2.5rem;
        /* right: calc(39.6875rem - 100%); */
    }
    
    .reverse::after { 
        top: 15.625rem;
        left: calc(100% - 45.9375rem);
    }
    
    .feature:nth-child(3) .featureImageContainer::after {
        top: 5.3125rem;
        left: calc(100% - 45.9375rem + 22.5rem);
    }
}

@media(min-width:75rem) {
   .featureMainImage {
    margin: 0;
    gap: 10rem;
   }
    .feature {
        width: 100vw;
        height: 27.8125rem;
        flex-direction: row;
        padding: 11%;
        gap: 0rem;
        justify-content: space-between;
    }

    .feature:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .featureInfoWrapper {
        width: 27.8125rem;
    }

    .feature:nth-child(1) .featureImageContainer::after {
        top: 18.75rem;
    }
}


