/* typography */

.footerHeader,
.footerSubheader {
    color: var(--main-color);
}


@media(min-width:768px) {
    .footerHeader {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.142857074737549px;
    }
}

/* end typography */
.footer {
    width: 100vw;
}

.footerHeader {
    margin:0px auto 40px auto;
    max-width: 311px;
}
.footerDownloadSectionWrapper {
    display: flex;
    flex-direction: column;
    height: 375px;
    background-color: var(--third-color);
    background-image: url('/patterns/semi-circles.svg');
    background-repeat: no-repeat;
    background-position: bottom right -150px;
    padding-top: 88px;
}

.footerSignupIconWrapper {
    margin: 0px auto 0px auto;
}

.footerSignupIcons {
    display: inline-block;
}

.footerSignupIcons:first-of-type {
    margin-right: 13px;
}

.footerLinkWrapper {
    background: var(--footer-color);
    height: 438px;
    padding-top: 64px;
}

.footerSubheader {
    margin-bottom: 41px;
}

.footerNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footerNavLink {
    margin: 0;
}
.footerSocialLinksWrapper {
    display: flex;
    gap: 24px;
    margin-top: 69px;
}

@media(min-width:768px) {
    .footerHeader {
        max-width: 457px;
    }

    .footerLinkWrapper {
        height: 96px;
        padding-top: 0px;
        display: flex;
        align-items: center;
    }

    .footerNav{
        flex-direction: row;
        align-items: center;
        gap: 32px;
        width: 75%;
    }

    .footerSubheader {
        margin-bottom: 0px;
        margin-left: 40px;
        margin-right: 58px;
    }

    .footerSocialLinksWrapper {
        display: flex;
        gap: 24px;
        margin-top: 0px;
        width: 120px;
        margin-left: auto;
        margin-right: 40px;
    }
}

@media(min-width:1440px) {
    .footer {
        width: 100vw;
    }

    .footerDownloadSectionWrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 300px;
    }
    .footerHeader {
        max-width: 415px;
        text-align: left;
        margin-left: 165px;
        margin-right: 336px;
    }
    
    .footerSignupIconWrapper {
        margin-left: 113px;
    }

    .footerSubheader {
        margin-left: 168px;
    }

    .footerNav{
        width: 71.5%;
    }
}
