/* Root Styles  */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

:root {
  font-size: 1rem;
  --main-color: #ffffff;
  --second-color:  #fcb72b;
  --third-color: #495567;
  --second-background-color:#f2f5f9;
  --third-background-color:#FCB72B26;
  --footer-color: #333A44;
  --social-link-hover-color: #E5ECF4;
  --font-color: #939CAA;
  --font-family:'Lexend Deca', sans-serif;
  --heading-color: #495567;
  --heading-font-family: 'Space Mono', monospace;

}

/* Reset Styles  */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  min-height: 100%;
  font-family: var(--font-family);
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select a {
  font: inherit;
  color: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* @media (prefers-color-scheme: dark) {
  :root {
   
  }
} */


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* Typography  */
h1, h2, h3, h4, summary {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.1116rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.0893rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.0558rem;
}

h4, summary {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.0502rem;
}

p {
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  letter-spacing: 0rem;
  text-align: center;
}

nav a {
  color: var(--font-color);
  font-family: var(--heading-font-family);
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 700;
  text-decoration: none;
}

button,
button a {
  color: var(--main-color);
  font-family: var(--heading-font-family);
  font-size: 1rem;
  line-height: 1.5625rem;
}

label {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: -0.067rem;
  text-align: center;
}

summary {
  text-align: left;
}

@media (min-width: 48rem) {
  h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.1563rem;
  }
  
  h2 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.1339rem;
  }
  
  h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.067rem;
  }
  
  h4, summary {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.067rem;
  }
  
}

/* general styles */
body {
  display: flex;
  justify-content: center;

}
button,
.button {
  background: var(--second-color);
  height: 3.3125rem;
  width: 12rem;
  border: none;
}

.button {
  text-align: center;
  padding-top: .8rem;
}

/* rotate elements with transition */

.rotate,
.close {
  transition: transform 0.3s ease-in-out; /* apply transition to the transform property */
  transform: rotate(180deg); /* start with no rotation */
}

.rotate.active {
  transform: rotate(0); /* rotate the element 180 degrees */
}

.close {
  display: inline-block;
  margin-left: 23%;
}

/* start @media


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--second-color);
  }
  
  .button:hover,
  button:hover {
  display: inline-block;
  color: inherit;
}
 button:hover,
 .button:hover{
  background-color: transparent;
  color: var(--second-color);
  cursor: pointer;
  border: 0.125rem solid var(--second-color);
}

.close:hover {
  cursor: pointer;
  transform: rotate(0);
}

.footerLink:hover path{
  fill: var(--social-link-hover-color);
}

details:hover {
  cursor: pointer;
  background-color: var(--third-background-color);
}
}