/* Root Styles  */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

:root {
  font-size: 16px;
  --main-color: #ffffff;
  --second-color:  #fcb72b;
  --third-color: #495567;
  --second-background-color:#f2f5f9;
  --footer-color: #333A44;
  --font-color: #939CAA;
  --font-family:'Lexend Deca', sans-serif;
  --heading-color: #495567;
  --heading-font-family: 'Space Mono', monospace;

}

/* Reset Styles  */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  min-height: 100%;
  font-family: var(--font-family);
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select a {
  font: inherit;
  color: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* @media (prefers-color-scheme: dark) {
  :root {
   
  }
} */


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* Typography  */
h1, h2, h3, h4, summary {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.7857142686843872px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.4285714626312256px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.8928571343421936px;
}

h4, summary {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8035714030265808px;
}

p {
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

nav a {
  color: var(--font-color);
  font-family: var(--heading-font-family);
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
}

button,
button a {
  color: var(--main-color);
  font-family: var(--heading-font-family);
  font-size: 16px;
  line-height: 25px;
}

label {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285373687744px;
  text-align: center;
}

summary {
  text-align: left;
}

@media (min-width: 768px) {
  h1 {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  }
  
  h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.142857074737549px;
  }
  
  h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.0714285373687744px;
  }
  
  h4, summary {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.0714285373687744px;
  }

  label {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.7857142686843872px;
  }
  
}

@media(min-width:1200px) {
  

}

/* general styles */
body {
  display: flex;
  justify-content: center;

}
button {
  background: var(--second-color);
  height: 53px;
  width: 192px;
  border: none;
}

/* rotate elements with transition */

.rotate {
  transition: transform 0.3s ease-in-out; /* apply transition to the transform property */
  transform: rotate(180deg); /* start with no rotation */
}

.rotate.active {
  transform: rotate(0); /* rotate the element 180 degrees */
}
/* start @media


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  button:hover a {
  display: inline-block;
  width: 100%;
  color: inherit;
}
button:hover{
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  border: 2px solid var(--second-color);
}

}


/* Mobile */
@media (max-width: 700px) {
 
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
 
}



