.header {
    width: 100vw;
    padding-top: 1.5rem;
    max-height: 4rem;
}

.headerLogo{
    margin-left: calc(50% - 4.6875rem);
    margin-bottom: 1.375rem;
    display: inline-block;
}

.headerNavIcon {
    margin-bottom: 1.375rem;
    margin-left: 2rem;
    display: inline-block;
}

.headerNav {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 16rem;
    height: 100vh;
    padding-top: 4rem;
    padding-left: 2rem;
    background: var(--footer-color);
}

/* darken the background of the rest of screen when nav is open */

.headerNavScreenOverLay {
    position: absolute;
    z-index: 1;
    top: 4rem;
    width: 100vw;
    height: 100vh;
    background-color: #000000bf;
}

.headerNavBtn {
    background: var(--second-color);
    margin-top: 21.1875rem; 
}

.headerNavBtn a {
    color: var(--main-color);
}
@media (min-width:48rem) {
    .header {
        display: flex;
        align-items: center;
        height: 6rem;
        margin-bottom: 1.25rem;
    }
    
    .headerLogo{
        margin-left: 2.4375rem;
        margin-bottom: 0rem;
    }
    
    .headerNavIcon {
        display: none;
    }
    
    .headerNav {
        position: unset;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: fit-content;
        padding-top: 0rem;
        padding-left: 3.625rem;
        background: none;
    }
    
     /* revert background to normal */
    
    .headerNavScreenOverLay {
        display: none;
    }
    
    .headerNavBtn {
        margin-top: 0rem;
        margin-left: auto;
        margin-right: 2.5rem;
    }
}

@media (min-width:75rem) {
    .header {
        margin: auto;
        margin-bottom: 1.25rem;
    }
    .headerLogo{
        margin-left: 10.3125rem;
    }
    
    .headerNavBtn {
        margin-right: 10.3125rem;
    }
}