.hero {
    width: 100vw;
    min-height: 160px;
}
.heroHeading,
.heroHeadingOnly {
    color: var(--main-color);
    width: 83%;
    margin: 20px auto 0 auto;
    margin-bottom: 24px;
    padding-top: 115px;
}

.heroHeadingOnly {
    padding-top: 60px;
}

.heroText {
    width: 83%;
    margin: auto;
    margin-bottom: 34px;
}

.heroBtn {
    width: fit-content;
    margin: auto;
}

@media(min-width: 768px) {
    .heroImageContainer {
        width: 100vw;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-top: 40px;
    }

    .heroCircles{
        position: relative;
        left: 31px;
    }
}
