.hero {
    width: 100vw;
    min-height: 160px;
}
.heroHeading,
.heroHeadingOnly {
    color: var(--main-color);
    width: 83%;
    margin: 20px auto 0 auto;
    margin-bottom: 24px;
    padding-top: 115px;
}

.heroHeadingOnly {
    padding-top: 60px;
}

.heroText {
    width: 83%;
    margin: auto;
    margin-bottom: 34px;
}

.heroBtn {
    width: fit-content;
    margin: auto;
}

@media(min-width: 768px) {
    .heroImageContainer {
        width: 100vw;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-top: 40px;
    }

    .heroCircles{
        position: relative;
        left: 31px;
    }

    .heroHeadingOnly {
        text-align: left;
    }

    .heroCirclesInPlainHeading {
        position: relative;
        bottom: 75px;
        left: calc(100vw - 203px);
    }

    .heroLineImage {
        display: none;
    }
}

@media(min-width:1400px) {

    .heroHeading {
      width: 500px;  
      text-align: left;
      margin-left: 165px;
    }

    .heroText {
       width: 405px;
       text-align: left;
       margin-left: 260px;
    }

    .heroImageContainer {
        position: absolute;
        top: 340px;
    }

    .heroLineImage {
       display: unset; 
       position: relative;
       top: -135px;
       background-image: url('/patterns/line.svg');
       height: 16px;
       width: 125px;
       margin-right: 502px;
    }

    .heroBtn {
        margin-left: 260px;
    }
}
