.main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 120px;
}

/* proccess cards section*/

.processOuterWrapper {
    width: 83%;
    padding-top: 120px;
}

.proccessCard {
    display: grid; 
    justify-items: center;
    gap: 24px;
    margin-bottom: 48px;
}

@media(min-width:768px) {
    .main {
        margin-bottom: 104px;
    }
    .processOuterWrapper {
        background-image: url(/patterns/vertical-blue-line.png);
        background-repeat: no-repeat;
        background-position: left 39.5px bottom 150px;
    }

    .proccessCard {
        grid-template-areas: 
        "icon heading"
        "icon text";
        justify-items: start;
    }

    .proccessIcon{
        grid-area: icon;
        margin-right: 79px;
    }

    .proccessHeading {
        grid-area: heading;
    }

    .proccessText {
        grid-area: text;
        text-align: left;
    }
}


@media(min-width:1200px) {
    .main {
        margin-bottom: 200px;
    }
    .processOuterWrapper {
        background-image: url(/patterns/horizontal-blue-line.png);
        background-position: top 160px right 390px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        width: 100%;
    }

    .proccessCard {
        grid-template-areas: 
        "icon"
        "heading"
        "text";
        max-width: 350px;
    }
}

@media(min-width:1400px) {
    .processOuterWrapper {
        background-position: top 160px right 460px;
    }
}

@media(min-width:1520px) {
    .processOuterWrapper {
        background-position: top 160px right 560px;
    }
}

