.values {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   gap: 3.4375rem;
}

.value {
    padding: 0 11% 0 11%;
}

.valueImage {
    margin: auto;
    border-radius: 50%;
}

.valueCircleWithNumber {
    margin: auto;
    position: relative;
    top: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.valueHeading {
    margin-top: -2.5rem;
    margin-bottom: 1.6875rem;
}

@media(min-width:48rem) {
    
    .value {
        padding: 0;
        max-width: 28.5625rem;
    }

    .valueHeading {
        margin-top: -1.75rem;
        margin-bottom: 1.6875rem;
    }
}

@media(min-width:75rem) {
    
    .valuesHeading {
        width: 100%;
    }
    .values {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .value {
        max-width: 21.875rem;
    }
}